:root {
  --light-black: #333;
}

#animation {
  margin-bottom: 20px;
  font-size: 24px;
  opacity: 0;
  transition: opacity 2s;
}

body, html {
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
}

button {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px 20px;
}

.button {
width: 140px;
height: 45px;
font-family: Helvetica, Arial, sans-serif;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: #fff;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.centerpiece, #projects, #contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    width: 100vw;
}

#contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

#contact-form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  gap: 10px; 
  margin: 20px auto; 
  max-width: 500px;
  width: 100%;
}

#contact-form input, #contact-form textarea {
  background-color: #181818;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0), /* Inner shadow */
  0 0 5px rgba(0, 0, 0, 0.1); /* Outer shadow */
  color: rgb(226, 248, 99)
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.contact-list .list-item {
  margin-bottom: 10px; /* Add space between list items */
}

.contact-text {
  background-color: #222;
  border-radius: 3px;
  color: rgb(226, 248, 99);
  font: 300 18px 'Lato', sans-serif;
  font-weight: 200;
  letter-spacing: 1.9px;
  padding: 4px;
}  

.contact-text a {
  color: rgb(226, 248, 99);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #2EE59D;
  text-decoration: none;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  padding: 20px; 
}

#contact h1 {
  background-color: #222;
  border-radius: 3px;
  color: white;
  padding: 1px 4px;
}

.form-control {
  margin: 2px;
  padding: 6px;
  width: auto;
  flex-grow: 1;
}

input[placeholder] {
  color: rgb(226, 248, 99);
}

::placeholder {
  color: rgb(226, 248, 99);
}

nav {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  text-shadow: 0 0 3px rgba(8, 8, 8, 0.092);
}

.nav-links {
  display: flex; 
  flex-wrap: wrap;
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  transform: translateY(25px);
}

.nav-links li {
  padding: 0 3px;
}

.nav-links a {
  text-decoration: none;
  color: var(--light-black);
  transition: color 0.4s;
}

.nav-links a:hover {
  color: #2EE59D;
}

.nav-links a, .nav-name a {
  margin: 0 10px; 
  text-decoration: none;
  color: var(--light-black);
}

section {
  height: 60vh;
}

#projects {
  margin-bottom: -9vh;
  margin-top: 3vh;
}
#projects a {
  transition: color 0.4s;
}
#projects a:hover {
  color: #2EE59D;
}
#projects a img {
  margin: 0 auto;
  transform: translateY(38%);
  width: 4rem;
}

section a {
  color: var(--light-black);
  font-size: 16pt;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.115);
}

.send-button {
  background-color: #222;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(226, 248, 99);
  color: rgb(226, 248, 99);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.send-button:hover {
  transform: scale(1.05);
  background-color: #2EE59D;
}

.send-button:active {
  box-shadow: none;
}

/*----- thumbnail styles -----*/

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transform-scale-anim:hover {
  transform: scale(0.8);
}

/* Project grid styles */
.project-grid {
  border-radius: 2px;
  /* box-shadow: 0 1px 3px rgba(9, 9, 9, 0.198); */
  display: grid;
  background-color: rgba(255, 255, 255, 0.175); /* $transparent-black */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 90%;
  max-width: 1500px;
  grid-gap: 5px;
  margin: auto;
  align-items: center;
}

.project-card {
  background-color: #f0f0f634; /* Adjusted color */
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(10, 10, 10, 0.287);
  color: rgb(28, 26, 26);
  font-family: Helvetica, Arial, sans-serif;
  margin: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card:hover {
  box-shadow: 0 1px 3px rgba(12, 12, 12, 0.227);
  transform: scale(1.02);
}

.project-card .code {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
}

.project-card:hover .code {
  color: cornflowerblue;
  opacity: 1;
  visibility: visible;
}

.project-thumbnail {
  height: calc(100% - 6.8rem);
  object-fit: cover;
  width: 100%;
}

.project-description {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.project-description span {
  margin: 0 5px;
  color: #1F2530; /* Adjusted color */
  transition: color 0.3s ease-out;
}

.show-all-button {
  border-radius: 5px;
  font-size: 1.75rem;
  width: 150px;
  margin: 25px auto;
  padding: 5px;
  letter-spacing: 2px;
  background-color: #ff4b0d; /* $form-second-color */
}

/*----- end of thumbnail styles -----*/


/* Responsive background images */
@media (max-width: 768px) {
  #contact {
    /* background-image: url('images/BellRockSmall.jpg'); */
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Ensure the image covers the entire area */
    padding-top: 550px;
  }

  #contact h1 {
    color: rgb(226, 248, 99);
    font-weight: 600;
    margin-bottom: -5px; /* Adjust this value as needed */
  }

  #contact-form {
    margin-top: 0; /* Remove any top margin if present */
    padding-top: 0; /* Remove any top padding if present */
  }

  .nav-links a, .nav-name a {
    margin: 0 5px;
  }

  .nav-links a {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #contact {
    background-image: url('images/bellRockWide.jpg');
  }
}

@media (min-width: 1281px) {
  #contact {
    background-image: url('images/bellRockWide.jpg');
  }
}
